body{
  display: flex;
  justify-content: center;
  margin-top: 90px;
  font-size: 0px;
}

button{
  height: 100px;
  width: 100px;
  background-color: green;
  border: none;
  border: .5px solid lightgreen;
}

button

form{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

input{
  height: 100px;
  width: 300px;
}
