form{
  display: flex;
  flex-direction: column;
}

input{
  height: 100px;
  width: 100px;
  border: 1px solid black;
}

#inputDisplay{
  text-align: right;
  /*width: 75%;*/
  /*height: 100px;*/
  /*padding-right: 50px;*/
}

#operator{
  /*width: 435px;*/
}
